id: resnet_gsd 
model:  
    arch: wide_resnet28_10  
    decomp: conditioned # ['unconditioned', 'conditioned', 'none']
    bias: False 
    size: 32
    beta:
    alpha:
    pretrained: False 
data: 
    name: cifar10 # calibration dataset
    root: ./datasets/
    num_classes: 10
testing: 
    dataset: cifar10 # testing dataset
    group: #[0,1,2,3,4,5,6,7,8,9] cifar100 groups. Leave blank to evaluate on all CIFAR100 
    calibration: none #['temperature','dirichlet','matrix','alpha-beta','none']
    tune_epoch: 20
    optimizer: 
        name: sgd
        lr:  0.1 # 0.01 for dirichlet calibration
        weight_decay: 5.0e-4
        momentum: 0.9 
    loss: CrossEntropy 
    degredation:
        type: #[gaussian_noise, shot_noise, impulse_noise, defocus_blur, glass_blur, motion_blur, zoom_blur, snow,
               #        frost, fog, brightness, contrast, elastic_transform, pixelate, jpeg_compression]
        value: #[1,2,3,4,5]
    exponential_map: # leave blanck to not use exponential mapping
    resume: 
